body {
    /* overflow: hidden; */
    position: relative;
    margin: 0px;
}

#box {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 530px;
    left: 300px;
}

.rail {
    position: absolute;
    top: 550px;
    left: 325px;
    width: 4000px;
    height: 10px;
    background-color: black;
}

.typing-effect {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
    height: 400px;
    width: 400px;
    position: absolute;
}

#typing-effect0 {
    top: 100px;
    left: 700px;
}

